/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

html,
body {
	height: 100%;
	line-height: 1;
}

body {
	display: flex;
	flex-direction: column;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 50px;
	line-height: 1.3rem;
}

main {
	flex: 1;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	margin-top: 10px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

nav li {
	font-size: 1.1em;
	cursor: pointer;
	margin: 0 20px;
}

nav li img {
	width: 22px;
	height: 22px;
}

nav li a {
	color: black;
	text-decoration: none;
}

nav li a.active {
	font-weight: 900;
	color: black;
}

nav.filters {
	margin: 50px 0;
}

nav.filters ul {
	padding: 0 10px;
}

nav.filters li {
	padding: 0;
	margin: 0 6px;
}

.filter-cat {
	color: #1D6154;
	display: flex;
	align-items: center;
	min-width: 100px;
	padding: 0.5rem 1.2rem;
	border: 1px solid #1D6154;
	border-radius: 25px;
	background-color: transparent;
	cursor: pointer;
	transition: background-color 0.2s, color 0.2s;
	/* gap: 10px; */
	font-family: 'Syne';
	font-weight: bold;
	justify-content: center;
	font-size: 16px;
}

.filter-cat:hover {
	background-color: #1D6154;
	color: white;
}

nav li button.active {
	background-color: #1D6154;
	color: white;
}


li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 80px;
}


#introduction figure {
	margin: 0;
}

#introduction img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: 355px;
	object-fit: cover;
	display: block;
}

#introduction article {
	max-width: 404px;
	margin-left: -20px;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
	font-weight: 500;
	color: #3D3D3D;
	line-height: 1.4;
}

#portfolio {
	margin-top: 7.5rem;
}

#portfolio h2 {
	text-align: center;
}

.hidden {
	display: none !important;
}

.portfolio-header {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.edit-button {
	height: 30px;
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	display: flex;
	align-items: center;
	font-family: 'Work Sans';
	font-size: 14px;
}

.edit-button img {
	margin: 0 1rem;
	width: 16px;
	height: 16px;
	display: block;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 35%;
	margin: auto;
}

#contact>*,
#login>* {
	text-align: center;
}

#contact h2,
#login h2 {
	margin-bottom: 20px;
}

#contact form,
#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input,
.modal-body input,
.modal-body select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#login label,
.modal-body label {
	margin: 2em 0 1em 0;
}

#contact textarea,
#login textarea,
.modal-body textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login {
	width: 35%;
	margin: 50px auto;
}

#login form a {
	text-align: center;
	color: rgb(46, 45, 45);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

footer nav ul li {
	font-family: 'Work Sans';
	font-size: 16px;
	font-weight: 300;
}

.modal {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal h2 {
	font-family: 'Work Sans';
	color: black;
	font-weight: 400;
	margin: 18px 0px;
}

.modal span {
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.modal-content {
	width: 100%;
	height: 648px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;
	padding: 50px 25px 0;
	border-radius: 10px;
	max-width: 630px;
	position: relative;
	font-family: 'Work Sans';
}

.modal-content .close {
	position: absolute;
	top: 30px;
	right: 30px;
	font-size: 30px;
	cursor: pointer;
}

.modal-content .back {
	position: absolute;
	top: 30px;
	left: 30px;
	font-size: 30px;
	cursor: pointer;
}


.modal-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-body {
	display: flex;
	flex-direction: column;
	justify-content: left;
}

.modal-gallery {
	padding: 0 0.5rem;
	margin: 2rem;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	border-bottom: 1px solid rgb(179, 179, 179);
	padding-bottom: 30px;
	max-height: 400px;
	overflow-y: hidden;
}

.modal-gallery:hover {
	overflow-y: auto;
}

.modal-gallery img {
	width: 76px;
	height: 102px;
	margin-bottom: 20px;
}

.modal-form {
	margin: 1rem 0 2rem;
	display: flex;
	flex-direction: column;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	border-bottom: 1px solid rgb(179, 179, 179);
	padding-bottom: 50px;
}

.modal-img-wrapper {
	position: relative;
}

.delete-btn {
	position: absolute;
	top: 5px;
	right: 5px;
	background: black;
	color: white;
	border: none;
	border-radius: 3px;
	width: 17px;
	height: 17px;
	cursor: pointer;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	background-image: url('./icons/trash-icon.svg');
	background-repeat: no-repeat;
	background-position: center;
}


.modify-mode-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 59px;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-family: 'Work Sans', sans-serif;
	z-index: 1500;
	margin: 0;
	padding: 0;
}

body.edit-mode {
	margin-top: 59px;
}

.modify-mode-icon {
	background-image: url('./icons/modify-icon.svg');
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 16px;
	height: 16px;
	display: inline-block;
	border: none;
	margin-right: 8px;
}

.modal .btnAdd {
	color: white;
	min-width: 100px;
	max-width: 237px;
	padding: 0.5rem 2rem;
	border: 1px solid #1D6154;
	border-radius: 25px;
	background-color: #1D6154;
	cursor: pointer;
	font-family: 'Syne';
	font-weight: bold;
	justify-content: center;
	font-size: 16px;
}


.modal .btnValidate {
	color: white;
	min-width: 100px;
	max-width: 237px;
	padding: 0.5rem 5rem;
	border: 1px solid #a7a7a7;
	border-radius: 25px;
	background-color: #a7a7a7;
	cursor: not-allowed;
	font-family: 'Syne';
	font-weight: bold;
	justify-content: center;
	font-size: 16px;
	pointer-events: none;
}

.modal .btnValidate.active {
	background-color: #1D6154;
	border-color: #1D6154;
	cursor: pointer;
	pointer-events: auto;
}

.modal .image-preview-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 420px;
	/* height: 169px; */
	margin: 0 0;
	background: rgb(232, 241, 246);
}

.modal .image-placeholder {
	margin: 0.7rem 0 0.4rem;
	width: 76px;
	height: 76px;
}

.modal .image-preview {
	width: 129px;
	height: 193px;
	object-fit: cover;
}


.modal .fileBtn {
	color: rgb(48, 102, 133);
	margin: 0 0 0.6rem;
	padding: 0.5rem 2rem;
	border-radius: 25px;
	border: 0;
	font-weight: 500;
	cursor: pointer;
}


.modal .file-info {
	margin-bottom: 0.4rem;
	font-size: 10px;
	color: rgb(68, 68, 68);
	margin: 0 0 1.2rem;
}

.modal-body input,
.modal-body select {
	padding: 0 0.7rem;
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 300;
	background-color: transparent;
}